<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>crane.rs - download</title>
    <link rel="stylesheet" href="/static/styles/style.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="title">{{ content }}</h1>
      <div class="nav-links">
        {% for file in files %}
          <a class="nav-link" href="{{ file.file }}" download>{{ file.name }}</a>
        {% endfor %}
      </div>
    </div>
  </body>
</html>