<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>crane.rs - index</title>
    <link rel="stylesheet" href="/static/styles/style.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="title">{{ content }}</h1>
      <div class="nav-links">
        <a class="nav-link" href="/upload">Go to Upload Page</a>
        <a class="nav-link" href="/download">Go to Download Page</a>
      </div>
    </div>
  </body>
</html>