<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>crane.rs - upload</title>
    <link rel="stylesheet" href="/static/styles/style.css" />
  </head>

  <body>
    <div class="container">
      <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" required />
        <button type="submit">Upload</button>
      </form>
    </div>
  </body>
</html>